# 依赖
node_modules/
unpackage/
dist/

# IDE
.idea/
.vscode/
.hbuilderx/
*.iml

# 系统
.DS_Store
Thumbs.db

# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境
.env
.env.local
.env.*.local

# 临时
*.tmp
.cache/
